WebServiceProject/webcontent/wsdl/SumaWSDLSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SumaWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SumaWSDL" targetNamespace="http://www.example.org/SumaWSDL/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SumaWSDL/">
      <xsd:element name="SumaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SumaRequest" type="tns:SumaRequestType"/>

      <xsd:complexType name="SumaRequestType">
      	<xsd:sequence>
      		<xsd:element name="A" type="xsd:int"/>
      		<xsd:element name="B" type="xsd:int"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SumaRequest">
    <wsdl:part element="tns:SumaRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SumaResponse">
    <wsdl:part element="tns:SumaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SumaWSDL">
    <wsdl:operation name="Suma">
      <wsdl:input message="tns:SumaRequest"/>
      <wsdl:output message="tns:SumaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SumaWSDLSOAP" type="tns:SumaWSDL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://www.example.org/SumaWSDL/Suma"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SumaWSDL">
    <wsdl:port binding="tns:SumaWSDLSOAP" name="SumaWSDLSOAP">
      <soap:address location="http://localhost:8080/WebServiceProject/services/SumaWSDLSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
